.image-attribution {
    display: inline-block;
    position: absolute;
    z-index: 10;
    bottom: 24px;
    left: 42px;
}

.image-attribution-link {
    transition: opacity 0.3s ease;
    opacity: 0.3;
    display: block;
    position: relative;

    color: white;
    font-size: 12px;
    font-family: "Platform Regular";
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}
