.image-attribution {
    display: inline-block;
    position: absolute;
    z-index: 10;
    bottom: 14px;
    right: 14px;
}

.image-attribution-link {
    transition: all 0.3s ease;
    transform-origin: right;
    opacity: 0.5;
    display: block;
    position: relative;

    color: white;
    font-size: 10px;
    font-family: "Platform Regular";
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-decoration: none;

    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}
